<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} TheEnd, Blog</title>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theendblog.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">TheEnd</a>
          </div>
          <div>
            <div id="nav" class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav">
                {% for category in site.categories %}
                  <li id="nav_link" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{category | first}} <span class="caret"></span></a>
                    
                    <ul id="navbar-drop" class="dropdown-menu dropdown-menu-right">
                      {% for posts in category %}
                        {% for post in posts limit:5 %}
                          {% if post.url %}
                            <a href="{{ site.baseurl }}{{post.url}}"><li id="drop_link"><b class="right-caret"></b> {{ post.title }}</li></a>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                      <a href="{{ site.baseurl | replace: '//', '/' }}/{{category | first }}.html"><li id="drop_link"><b class="right-caret"></b> <span style="color: white;">Wszystkie z tej kategorii...</span></li></a>
                      <li class="divider"></li>
                    </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="post-col" class="container">
      <div class="row">
        <div class="col-lg-8 center-block">
          
          
          {{ content }}


          {% if paginator.total_pages > 1 %}
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Poprzenia</a></li>
              {% else %}
                <li id="disabled_pag">&laquo; Poprzenia</li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <li class="active"> {{ page }} </li>
                {% elsif page == 1 %}
                    <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Następna &raquo;</a></li>
              {% else %}
                <li id="disabled_pag">Następna &raquo</li>
              {% endif %}
            </ul>
          {% endif %}
        </div> 

        
      </div>  
    </div>
    
    <!-- Footer -->

    <footer>
      <p><span class="text-muted">Design & Code : <a href="#" style="color: white;">Kamil Budka</a><br>
        2014 | Copyright©  by Kamil Budka | TheEnd</span></p>
    </footer>
    
    <!-- /Footer -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  </body>
</html>